#sidebar {
    min-width: 250px;
    height: 700px;
    margin-top: 50px;
}
html{
    position: relative;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    overflow: visible;
}
#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translateY(-50%);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.card{
    width: 18rem;
    height: 150px;
}
.card-body i{
    position: absolute;
    font-size: 70px;
    right: 20px;
    top: 40px;
    opacity: .8;
}
.card-body .display-4{
    position: relative;
    top: -10px;
    left: 15px;
}

.content form{
    margin-left: 20px;
}
#sidebar ul li a {
    padding: 5px;
    font-size: 18px;
    display: block;
}
ul ul a {
    font-size: 16px !important;
    padding-left: 30px !important;
}
table tbody tr img, 
div form img{
    width: 100px;
}

@media (max-width: 576px){
    footer{
        display: none;
    }
    #sidebar {
        min-width: 180px;
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar ul li a {
        font-size: 14px !important;
    }
    .card, div form .form-group, div table, div .tambah, div nav .pagination{
        margin-left: 60px !important;
    }
    div h2 span{
        margin-left: 60px !important;
        display: inline-block;
    }
}

